<div class="card w-100 m-0">
  <div class="card-header text-center">
    <h2>User manager</h2>
  </div>

  <div class="card-body">
    <div class="row text-center">
      <div class="col">
        <div class="car border border-primary rounded">

          <div class="card-header text-center bg-primary bg-opacity-25">
            <h5 class="fw-bold text-primary">List</h5>
          </div>

          <div class="card-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Active</th>
                  <th scope="col">UserToken</th>
                  <th scope="col">Record</th>
                  <th scope="col">Edit</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users">
                  <td>{{user.id}}</td>
                  <td>{{user.project.active}}</td>
                  <td *ngIf="user.user_token; else elseNone">True</td>
                  <ng-template #elseNone><td>None</td></ng-template>
                  <td>{{ user.project.record | json }}</td>

                  <td class="text-info">
                    <!-- <button class="btn" (click)="editQuestion(question.id)"> -->
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                      </svg>
                    <!-- </button> -->
                  </td>
                </tr>
              </tbody>

            </table>
          </div>

        </div>
      </div>
    </div>

    <hr class="border-primary" />

    <div class="car border border-primary rounded">
      <div class="card-header text-center bg-primary bg-opacity-25">
        <h5 class="fw-bold text-primary">Editor</h5>
      </div>

      <div class="card-body">

        <!-- two forms? one for new and other for edit ?? -->
        <form>
          <div class="row">
            <div class="col-6">
              <div class="car border border-primary rounded">
                <div class="card-header text-center bg-primary bg-opacity-25">
                  <h5 class="fw-bold text-primary">Info</h5>
                </div>

                <div class="card-body">
                  <label class="form-label" for="id">Id</label>
                  <input class="form-control disabled" type="text" name="id" value="" />

                  <label class="form-label" for="depends_on">Depends</label>
                  <input class="form-control disabled" type="text" name="depends_on" value="" />

                  <label class="form-label" for="role_id">Role</label>
                  <input class="form-control disabled" type="text" name="role_id" value="" />

                  <label class="form-label" for="token">Token</label>
                  <input class="form-control" type="text" name="token" value="" />
                </div>

                <div class="card-footer">
                  <button
                    class="btn btn-outline-primary bg-primary bg-opacity-10 w-100 fw-bold"
                  >Save</button>
                </div>

              </div>
            </div>

            <div class="col-6">
              <div class="car border border-primary rounded">
                <div class="card-header text-center bg-primary bg-opacity-25">
                  <h5 class="fw-bold text-primary">Project</h5>
                </div>

                <div class="card-body">
                  <label class="form-label" for="project_id">Id</label>
                  <input class="form-control disabled" type="text" name="project_id" value="" />

                  <label class="form-label" for="active">Active</label>
                  <input class="form-control disabled" type="text" name="active" value="" />

                  <label class="form-label" for="keys">Keys</label>
                  <input class="form-control disabled" type="text" name="keys" value="" />

                  <label class="form-label" for="record">Record</label>
                  <input class="form-control" type="text" name="record" value="" />
                </div>

                <div class="card-footer">
                  <button
                    class="btn btn-outline-primary bg-primary bg-opacity-10 w-100 fw-bold"
                  >Save</button>
                </div>

              </div>
            </div>
          </div>

        </form>

      </div>

      <div class="card-footer">
        <button
          class="btn btn-outline-primary bg-primary bg-opacity-10 w-100 fw-bold"
        >Save</button>
        <!-- (click)="saveQuestion()" -->
      </div>
    <div>

  </div>
</div>
