<div class="card mb-3">
  <h1 class="card-body display-6 text-center"><u>Dashboard</u></h1>
</div>

<div class="row">
  <div class="col text-center">

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Project selector</h5>
        <hr>
        <app-project-selector/>
      </div>
    </div>
  </div>

  <div class="col text-center">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Notifications</h5>
        <hr>
      </div>
    </div>
  </div>
</div>
