<div class="card w-100 m-0">
  <div class="card-header text-center">
    <h2>Project</h2>
  </div>

  <div class="card-body">
    <div class="row text-center">
      <div class="col">
        <img style="width: 120px;" class="img-fluid" src="assets/images/brands/brand-valencia.jpg" />
      </div>
    </div>

    <div class="row text-center justify-content-center">
      <div class="col">
        <h3 class="fw-bold">Name project</h3>
        <hr class="border-primary">
      </div>
    </div>

    <div class="row text-center justify-content-center">
      <div class="col-6">
        <div class="car border border-primary rounded">

          <div class="card-header text-center bg-primary bg-opacity-25">
            <h5 class="fw-bold text-primary">Keys</h5>
          </div>

          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item">step</li>
              <li class="list-group-item">mood</li>
              <li class="list-group-item">
                <div class="row">
                  <div class="col-9">
                    <input class="form-control border-info" type="text" placeholder="New" />
                  </div>

                  <div class="col">
                    <button class="btn btn-outline-info bg-primary bg-opacity-10" type="button">Add</button>
                  </div>
                </div>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <hr class="border-primary">

    <div class="row text-center justify-content-center">
      <div class="col">
        <h3 class="fw-bold">Informes</h3>
      </div>
    </div>

    <div class="input-group"></div>

  </div>

</div>
