<div class="card w-100 m-0">
  <div class="card-header text-center">
    <h2>Resources</h2>
  </div>

  <div class="card-body">

    <div class="row text-center">
      <div class="col">
        <div class="car border border-primary rounded">

          <div class="card-header text-center bg-primary bg-opacity-25">
            <h5 class="fw-bold text-primary">List</h5>
          </div>

          <div class="card-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Title</th>
                  <th scope="col">Description</th>
                  <th scope="col">Type</th>
                  <th scope="col">Content</th>
                  <th scope="col">Edit</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let resource of resources">
                  <td>{{resource.title}}</td>
                  <td>{{resource.description}}</td>
                  <td>{{resource.resource_type}}</td>
                  <td *ngIf="resource.content; else elseNone">{{getResourceContent(resource)}}</td>
                  <ng-template #elseNone><td>None</td></ng-template>

                  <td class="text-info">
                    <!-- <button class="btn" (click)="editQuestion(question.id)"> -->
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                      </svg>
                    <!-- </button> -->
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>

    <hr class="border-primary" />

    <div class="car border border-primary rounded">
      <div class="card-header text-center bg-primary bg-opacity-25">
        <h5 class="fw-bold text-primary">Editor</h5>
      </div>

      <div class="card-body">
        <form>
          <label class="form-label" for="title">Title</label>
          <input class="form-control" type="text" name="title" value="" />

          <label class="form-label" for="description">Description</label>
          <input class="form-control" type="text" name="description" value="" />

          <label class="form-label" for="type">Type</label>
          <select class="form-select" name="type">
            <option *ngFor="let type of resourceTypes" [value]="type">{{type}}</option>
          </select>

          <label class="form-label" for="content">Content</label>
          <input class="form-control" type="text" name="content" value="" />

        </form>
      </div>

      <div class="card-footer">
        <button
          class="btn btn-outline-primary bg-primary bg-opacity-10 w-100 fw-bold"
        >Save</button>
        <!-- (click)="saveQuestion()" -->
      </div>

    </div>

  </div>
</div>
